@import "./Home-Page/Home-Page";

// 1) Home Hero
//#home-hero {
  //.home-hero {
  //  margin-top: -90px;
  //  height: 1000px;
  //  position: relative;
  //  overflow: hidden;
  //  border: 1px solid red;
  //
  //  &_lg-circle {
  //    width: 1200px;
  //    height: 1200px;
  //    border-radius: 50%;
  //    border: 0.5px solid #2E3A56;
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    position: absolute;
  //    top: -90px;
  //    left: 300px;
  //
  //    &_md-circle {
  //      width: 740px;
  //      height: 740px;
  //      border-radius: 50%;
  //      border: 0.5px solid #2E3A56;
  //      display: flex;
  //      align-items: center;
  //      justify-content: center;
  //
  //      &_sm-circle {
  //        width: 430px;
  //        height: 430px;
  //        border-radius: 50%;
  //        border: 0.5px solid #2E3A56;
  //      }
  //    }
  //  }
  //  &_desc {
  //    position: absolute;
  //    top: 30%;
  //    left: 100px;
  //    width: 50%;
  //
  //    h1 {
  //      font-weight: 700;
  //      font-size: 48px;
  //      line-height: 60px;
  //      color: #FFFFFF;
  //      padding-bottom: 35px;
  //    }
  //    p {
  //      width: 70%;
  //      font-weight: 500;
  //      font-size: 20px;
  //      line-height: 25px;
  //      color: #FFFFFF;
  //    }
  //  }
  //}
  #home-hero {



  .home-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .home-hero_desc{
      color: #FFFFFF;
      margin: 16vw 0 0 6vw;
      h1{
        width: 516px;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
      }
      p{
        width: 419px;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        margin-top: 20px;
      }

    }
    .home-hero-img img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }

  }
}


//}

// 2) Home Statya
#home-statya {
  padding-top: 20vw;

  .container {
    .home-statya {
      padding: 0 0 140px 0;

      &_title {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 84px;
      }

      &_blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        row-gap: 35px;

        &-blog {

          &_img {
            height: 188px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          &_desc {
            padding: 12px 30px 30px 18px;
            background: #fff;
            border-radius: 0 0 10px 10px;

            p {
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              color: #000000;
              padding: 10px 0 20px 0;
            }

            &-group {
              display: flex;
              align-items: center;
              justify-content: space-between;

              div {
                display: flex;
                align-items: center;
                column-gap: 5px;

                .reader-icon {
                  color: #044176;
                  font-size: 22px;
                }
              }

              .home-read {
                font-weight: 500;
                font-size: 15px;
                color: #044176;
              }
            }

          }
        }
      }

      &_btn {
        background: #034078;
        border-radius: 5px;
        padding: 18px 40px;
        border: none;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        display: block;
        margin: 50px auto 0 auto;

      }
    }
  }
}

// 3) Home Subscribe (Оформить подписку)
#home-subscribe {
  padding-bottom: 200px;

  .home-subscribe {
    &_blog {
      background: #FFFFFF;
      box-shadow: -5px -3px 10px rgba(16, 23, 47, 0.45), 9px 9px 9px rgba(10, 15, 33, 0.45);
      border-radius: 10px;
      padding: 73px 109px 57px 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-desc {
        width: 50%;

        h1 {
          font-weight: 700;
          font-size: 28px;
          color: #000000;
          padding-bottom: 20px;
        }

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
        }
      }

      &-buttons {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        button {
          border-radius: 6px;
          font-size: 16px;
          font-weight: 500;
          padding: 15px 38px;
          border: none;
          cursor: pointer;
        }

        &_first {
          background: #034078;
          color: #FFFFFF;
        }

        &_second {
          background-color: transparent;
          color: #767676;
        }
      }
    }
  }
}

// 4) Home Accordion (Остались вопросы?)
#home-accordion {
  padding-bottom: 150px;

  .home-accordion {
    display: flex;
    align-items: start;
    justify-content: space-between;

    &_group {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 44px;

      h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 45px;
        color: #FFFFFF;
        text-align: center;
      }
    }

    &_desc {
      width: 65%;

      &-accordion {
        width: 100%;
        padding: 20px 0 10px 0;
        border-bottom: 0.5px solid #9099A3;

        input {
          display: none;
        }

        &_label {
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          display: flex;
          align-items: end;
          justify-content: space-between;

          p {
            margin-right: 100px;
          }

          &-icon {
            font-size: 22px;
          }
        }

        &_content {
          margin-top: 2px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.6s ease-in;

          div {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            padding: 15px 0;
          }
        }

        input:checked + .home-accordion_desc-accordion_label .home-accordion_desc-accordion_label-icon {
          transform: rotate(180deg);
        }

        input:checked ~ .home-accordion_desc-accordion_content {
          max-height: 500px;
        }
      }
    }
  }
}

// 5) Home Form (Оставить заявку)
#home-form {
  padding-bottom: 60px;

  .home-form {
    display: flex;
    align-items: start;
    justify-content: space-between;

    &_title {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      width: 35%;

      h1 {
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }

    &_form {
      width: 58%;

      &-blog {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 5px;
        margin-bottom: 20px;

        span {
          font-weight: 400;
          font-size: 16px;
          color: #B5B5B5;
        }

        input {
          background: rgba(27, 41, 89, 0.4);
          border-radius: 10px;
          border: none;
          outline: none;
          width: 80%;
          padding: 14px 0 15px 12px;
          font-size: 18px;
          color: #fff;
        }
      }

      &-btn {
        background: #044076;
        border-radius: 10px;
        padding: 18px 90px;
        border: none;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
  }
}

@media (max-width: 768px) {

  // 1) Home Hero
  #home-hero {
    padding-top: 100px;
    text-align: center;

    .home-hero {
      flex-direction: column;
      align-items: center;

      &_desc {
        h1 {
          font-size: 32px;
          line-height: 35px;
        }

        p {
          text-align: center;
        }
      }

      &_img {
        width: 70%;

      }
    }
  }

  // 2) Home Statya
  #home-statya {
    .home-statya {
      display: flex;
      flex-direction: column;
      align-items: center;

      .home-statya_blogs {
        display: flex;
        flex-direction: column;
        align-items: center;


        &-blog {
          width: 60%;
        }
      }
    }
  }

  // 3) Home Subscribe (Оформить подписку)
  #home-subscribe {
    .home-subscribe {
      &_blog {
        flex-direction: column;
        align-items: center;
        row-gap: 14px;
        width: 70%;

        &-desc {
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  // 4) Home Accordion (Остались вопросы?)
  #home-accordion {
    .home-accordion {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;

      &_group {
        h1 {
          font-size: 32px;
          line-height: 34px;
        }
      }

      &_desc {
        width: 90%;
      }
    }
  }

  // 5) Home Form (Оставить заявку)
  #home-form {
    .home-form {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;

      &_title {
        text-align: center;
        width: 60%;

        h1 {
          font-size: 32px;
        }

        p {
          text-align: center;
        }
      }

      #form {
        align-items: center;
        //width: 120%;
      }
    }
  }
}

