@import "./Home-Page/Home-Page";
@import "./Paket";

// 1) Home Hero
#home-hero {
  .home-hero {
    height: 1100px;
    position: relative;

    .home-hero_desc{
      color: #fff;
      position: absolute;
      top: 210px;
      left: 71px;

      h1{
        width: 516px;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
      }
      p{
        width: 419px;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        margin-top: 20px;
      }

    }
    .home-hero_img-block{
      overflow: hidden;
      position: absolute;
      top: -144px;
      right: 0;
      width: 100%;

      .lg-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1100px;
        height: 1100px;
        border-radius: 50%;
        border: 0.5px solid #2E3A56;
        filter: blur(2.5px);
        margin-left: 280px;


        .md-circle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 700px;
          height: 700px;
          border-radius: 50%;
          border: 0.5px solid #2E3A56;
          filter: blur(2.5px);

          .sm-circle {
            width: 480px;
            height: 480px;
            border-radius: 50%;
            border: 0.5px solid #2E3A56;
            filter: blur(2.5px);
          }
        }
      }
      .images {
        .images-men {
          position: absolute;
          top: 284px;
          right: 186px;
        }
        .images-file {
          position: absolute;
          bottom: 229px;
          right: 329px;
        }
        .images-bracket {
          position: absolute;
          bottom: 503px;
          left: 551px;
        }
        .images-lamp {
          position: absolute;
          bottom: 449px;
          right: 92px;
        }
        .images-setting {
          position: absolute;
          top: 248px;
          right: 473px;
        }
      }
    }
  }
}

// 2) Home Statya
#home-statya {
  padding-top: 20vw;

  .container {
    .home-statya {
      padding: 0 0 140px 0;

      &_title {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 84px;
      }

      &_blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        row-gap: 35px;

        &-blog {

          &_img {
            height: 188px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          &_desc {
            padding: 12px 30px 30px 18px;
            background: #fff;
            border-radius: 0 0 10px 10px;

            p {
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              color: #000000;
              padding: 10px 0 20px 0;
            }

            &-group {
              display: flex;
              align-items: center;
              justify-content: space-between;

              div {
                display: flex;
                align-items: center;
                column-gap: 5px;

                .reader-icon {
                  color: #044176;
                  font-size: 22px;
                }
              }

              .home-read {
                font-weight: 500;
                font-size: 15px;
                color: #044176;
              }
            }

          }
        }
      }

      &_btn {
        background: #034078;
        border-radius: 5px;
        padding: 18px 40px;
        border: none;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        display: block;
        margin: 50px auto 0 auto;

      }
    }
  }
}

// 3) Home Subscribe (Оформить подписку)
#home-subscribe {
  padding-bottom: 200px;

  .home-subscribe {
    &_blog {
      background: #FFFFFF;
      box-shadow: -5px -3px 10px rgba(16, 23, 47, 0.45), 9px 9px 9px rgba(10, 15, 33, 0.45);
      border-radius: 10px;
      padding: 73px 109px 57px 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-desc {
        width: 50%;

        h1 {
          font-weight: 700;
          font-size: 28px;
          color: #000000;
          padding-bottom: 20px;
        }

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
        }
      }

      &-buttons {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        button {
          border-radius: 6px;
          font-size: 16px;
          font-weight: 500;
          padding: 15px 38px;
          border: none;
          cursor: pointer;
        }

        &_first {
          background: #034078;
          color: #FFFFFF;
        }

        &_second {
          background-color: transparent;
          color: #767676;
        }
      }
    }
  }
}

// 4) Home Accordion (Остались вопросы?)
#home-accordion {
  padding-bottom: 150px;

  .home-accordion {
    display: flex;
    align-items: start;
    justify-content: space-between;

    &_group {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 44px;

      h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 45px;
        color: #FFFFFF;
        text-align: center;
      }
    }

    &_desc {
      width: 65%;

      &-accordion {
        width: 100%;
        padding: 20px 0 10px 0;
        border-bottom: 0.5px solid #9099A3;

        input {
          display: none;
        }

        &_label {
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          display: flex;
          align-items: end;
          justify-content: space-between;

          p {
            margin-right: 100px;
          }

          &-icon {
            font-size: 22px;
          }
        }

        &_content {
          margin-top: 2px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.6s ease-in;

          div {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            padding: 15px 0;
          }
        }

        input:checked + .home-accordion_desc-accordion_label .home-accordion_desc-accordion_label-icon {
          transform: rotate(180deg);
        }

        input:checked ~ .home-accordion_desc-accordion_content {
          max-height: 500px;
        }
      }
    }
  }
}

// 5) Home Form (Оставить заявку)
#home-form {
  padding-bottom: 60px;

  .home-form {
    display: flex;
    align-items: start;
    justify-content: space-between;

    &_title {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      width: 35%;

      h1 {
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }

    &_form {
      width: 58%;

      &-blog {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 5px;
        margin-bottom: 20px;

        span {
          font-weight: 400;
          font-size: 16px;
          color: #B5B5B5;
        }

        input {
          background: rgba(27, 41, 89, 0.4);
          border-radius: 10px;
          border: none;
          outline: none;
          width: 80%;
          padding: 14px 0 15px 12px;
          font-size: 18px;
          color: #fff;
        }
      }

      &-btn {
        background: #044076;
        border-radius: 10px;
        padding: 18px 90px;
        border: none;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
  }
}

@media (max-width: 768px) {
  // 1) Home Hero
  #home-hero {
    .home-hero {
      height: 1400px;
      position: relative;

      .home-hero_desc {
        top: 170px;
        left: 50%;
        transform: translateX(-50%);

        h1 {
          width: 100%;
          text-align: center;
        }

        p {
          width: 100%;
          text-align: center;
        }

      }

      .home-hero_img-block {
        top: 470px;


        .lg-circle {
          width: 891px;
          height: 891px;
          margin-left: 0;


          .md-circle {
            width: 495px;
            height: 495px;

            .sm-circle {
              width: 291px;
              height: 291px;
            }
          }
        }

        .images {
          .images-men {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .images-file {
            bottom: 13%;
            right: 22%;
          }

          .images-bracket {
            top: 39%;
            left: 17%;
          }

          .images-lamp {
            top: 43%;
            right: 1%;
          }

          .images-setting {
            top: 13%;
            right: 46%;
          }
        }
      }
    }
  }

  // 2) Home Statya (Последние статьи)
  #home-statya {
    .container {
      .home-statya {
        &_blogs {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 1fr);
          column-gap: 0;
          row-gap: 30px;
          justify-items: center;

          &-blog {
            width: 70%;
          }

          &_btn {
            background: #034078;
            border-radius: 5px;
            padding: 18px 40px;
            border: none;
            font-weight: 500;
            font-size: 18px;
            color: #fff;
            display: block;
            margin: 50px auto 0 auto;

          }
        }
      }
    }
  }

  // 3) Home Subscribe (Оформить подписку)
  #home-subscribe {

    .home-subscribe {
      &_blog {
        flex-direction: column;

        &-desc {
          width: 80%;
          text-align-last: center;
          margin-bottom: 32px;
        }
      }
    }
  }

  // 4) Home Accordion (Остались вопросы?)
  #home-accordion {

    .home-accordion {
      flex-direction: column;

      &_group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        row-gap: 0;
        margin-bottom: 20px;

        h1 {
          font-size: 34px;
        }
      }

      &_desc {
        width: 100%;

        &-accordion {
          &_label {
            p {
              margin-right: 10px;
            }

            &-icon {
              font-size: 27px;
            }
          }
        }
      }
    }
  }

  // 5) Home Form (Оставить заявку)
  #home-form {
    .home-form {
      flex-direction: column;

      &_title {
        width: 100%;
        margin-bottom: 60px;

        p {
          width: 64%;
        }
      }

      &_form {
        width: 100%;
      }
    }
  }

}

@media (max-width: 576px) {
  // 1) Home Hero
  #home-hero {
    .home-hero {
      height: 940px;

      .home-hero_desc {
        width: 68%;

        h1 {
          font-size: 30px;
          line-height: 35px;
        }
        p {
          font-size: 16px;
        }
      }
      .home-hero_img-block {
        top: 353px;

        .lg-circle {
          width: 753px;
          height: 753px;
          margin-left: -80px;
        }
        .images {
          .images-men {
            width: 64%;
          }
          .images-file {
            width: 16%;
            bottom: 26%;
            right: 33%;
          }
          .images-bracket {
            width: 10%;
            top: 42%;
            left: 20%;
          }
          .images-lamp {
            top: 47%;
            right: 6%;
            width: 10%;
          }
          .images-setting {
            width: 14%;
            top: 24%;
            right: 50%;
          }
        }
      }
    }
  }

  // 3) Home Subscribe (Оформить подписку)
  #home-subscribe {
    .home-subscribe {
      &_blog {
        padding: 30px 70px;

        &-buttons {
          button {
            padding: 15px 28px;
          }
        }
        &-desc {
          width: 100%;
        }
      }
    }
  }

  // 4) Home Accordion (Остались вопросы?)
  #home-accordion {

    .home-accordion {
      &_group {
        h1 {
          font-size: 26px;
        }
        div {
          width: 16%;

          img {
            width: 100%;
            height: 100%;
          }

        }
      }
      &_desc {
        &-accordion {
          &_label {
            font-size: 14px;
          }
        }
      }
    }
  }

}

@media (max-width: 450px) {
  // 1) Home Hero
  #home-hero {
    .home-hero {
      height: 956px;

      .home-hero_desc {
        width: 68%;

        h1 {
          font-size: 30px;
          line-height: 35px;
        }
        p {
          font-size: 16px;
        }
      }
      .home-hero_img-block {
        top: 413px;

        .lg-circle {
          margin-left: -154px;
        }
      }
    }
  }

  // 2) Home Statya (Последние статьи)
  #home-statya {
    .container {
      .home-statya {
        &_title {
          font-size: 26px;
        }

        &_blogs {
          &-blog {
            width: 95%;
          }
        }
      }
    }
  }

  // 3) Home Subscribe (Оформить подписку)
  #home-subscribe {
    .home-subscribe {
      &_blog {
        &-desc {
          text-align: center;
          h1 {
            font-size: 20px;
          }

          p {
            font-size: 14px;
          }
        }

        &-buttons {
          button {
            font-size: 14px;
            padding: 12px 28px
          }
        }
      }
    }
  }

  // 5) Home Form (Оставить заявку)
  #home-form {
    padding: 40px 0 80px 0;

    .home-form {
      &_title {
        row-gap: 16px;

        h1 {
          font-size: 26px;
        }

        p {
          font-size: 14px;
        }
      }
      &_form {
        &-btn {
          padding: 12px 28px;
          font-size: 14px;
        }
      }
    }
  }

}

@media (max-width: 400px) {
  #home-hero {
    .home-hero {
      &_desc {
        width: 90% !important;
      }
    }
  }

  // 4) Home Accordion (Остались вопросы?)
  #home-accordion {
    padding-bottom: 150px;

    .home-accordion {
      &_group {
        h1 {
          font-size: 20px;
        }
      }
      &_desc {

        &-accordion {
          &_label {

            &-icon {
              font-size: 0;
            }
          }

          &_content {
            div {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 380px) {
  // 1) Home Hero
  #home-hero {
    .home-hero {
      height: 900px;

      .home-hero_img-block{
        .lg-circle {
          width: 590px;
          height: 590px;
          margin-left: -95px;


          .md-circle {
            width: 390px;
            height: 390px;

            .sm-circle {
              width: 200px;
              height: 200px;
            }
          }
        }
      }
    }
  }

}


