#paket{
  padding: 10vw;

  .para{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A5A5A5;
    margin-top: 20px;

  }
  .paket-block{
    .title{
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      text-align: center;
      margin-top: 60px;
      margin-bottom: 70px;


    }
    &-big{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: -40px;


      .big-block{
        width: 349px;
        height: 481px;
        background: #FFFFFF;
        border-radius: 10px;
        margin-left: 40px;


        p{
          padding: 40px;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
        }
        h1{
          font-weight: 700;
          font-size: 36px;
          line-height: 44px;
          color: #000000;
          margin-left: 35px;
          margin-top: -25px;
          margin-bottom: 20px;
        }
        button{
          width: 112px;
          height: 35px;
          border: 1px solid #11416F;
          backdrop-filter: blur(4.90909px);
          border-radius: 3.27273px;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #000000;
          margin-left: 40px;

        }
        .qwerty2{
          margin-top: -80px;
          margin-left: -15px;
        }
        .qwerty{
          margin-left: -15px;
          margin-top: 20px;
        }
        .qwerty1{
          margin-left: -10px;
          margin-top: 10px;
        }
        &-state{
          display: flex;
          padding: 40px;

          h2{
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin-left: 10px;
          }
          &-ben{
            display: flex;
            padding: 0 40px;
            margin-top: -30px;
            h2{
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #000000;
              margin-left: 10px;
            }
          }
          &-take{
            display: flex;
            padding: 0 40px;
            margin-top: 10px;
            h2{
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #000000;
              margin-left: 10px;

            }

          }
        }
        .button-block{
          width: 178px;
          height: 40px;
          background: linear-gradient(94.1deg, #043C6F 2.34%, #154574 99.76%);
          backdrop-filter: blur(4.90909px);
          border-radius: 3.27273px;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
          margin-top: 120px;
          margin-left: 85px;
        }
      }
    }
  }

}
#home-form {
  background: #0A1128;
  padding-bottom: 247px;
  margin-left: 40px;
  margin-bottom: 100px;

  .home-form {
    display: flex;
    align-items: start;
    justify-content: space-between;

    &_title {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      width: 35%;

      h1 {
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }
    &_form {
      width: 58%;

      &-blog {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 5px;
        margin-bottom: 20px;

        span {
          font-weight: 400;
          font-size: 16px;
          color: #B5B5B5;
        }
        input {
          background: rgba(27, 41, 89, 0.4);
          border-radius: 10px;
          border: none;
          outline: none;
          width: 80%;
          padding: 14px 0 15px 12px;
          font-size: 18px;
          color: #fff;
        }
      }
      &-btn {
        background: #044076;
        border-radius: 10px;
        padding: 18px 90px;
        border: none;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
  }
}

#home-accordion {
 background: #0A1128;
  padding-bottom: 350px;

  .home-accordion {
    display: flex;
    align-items: start;
    justify-content: space-between;

    &_group {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 44px;

      h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 45px;
        color: #FFFFFF;
        text-align: center;
      }
    }
    &_desc {
      width: 65%;

      &-accordion {
        width: 100%;
        padding: 20px 0 10px 0;
        border-bottom: 0.5px solid #9099A3;

        input {
          display: none;
        }
        &_label {
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          display: flex;
          align-items: end;
          justify-content: space-between;

          p {
            margin-right: 100px;
          }
          &-icon {
            font-size: 22px;
          }
        }
        &_content {
          margin-top: 2px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.6s ease-in;

          div {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            padding: 15px 0;
          }
        }
        input:checked + .home-accordion_desc-accordion_label .home-accordion_desc-accordion_label-icon {
          transform: rotate(180deg);
        }
        input:checked ~ .home-accordion_desc-accordion_content {
          max-height: 500px;
        }
      }
    }
  }
}