@import "style/Style";
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0A1128;
}


*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}
